.admin-container {
  display: flex;
  overflow: hidden;

  .admin-sidebar {
    .pro-sidebar {
      height: 100vh !important;
    }
  }

  .admin-content {
    width: 100%;

    .admin-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      background-color: #f4f4f4;
      height: 40px;
      border-bottom: 1px solid #845555;
      cursor: pointer;

      .left-view {
        color: #1986a5;
      }

      .right-view {
        display: flex;
        gap: 20px;
      }
    }

    .admin-main {
      padding: 1rem;
      //border: 1px solid green;
      height: calc(100vh - 40px);
      overflow-y: auto;
    }
  }
}