.register-container {
  .header {
    height: 45px;
    text-align: right;
    //border-bottom: 1px solid red;
    line-height: 45px;
    padding: 0 28px;
  }

  .title {
    font-size: 1.2rem;
    padding: 20px 0;
    text-align: center;
  }

  .welcome {
    font-size: 1.2rem;
    padding: 10px 0;
    text-align: center;
  }

  .content-form {
    //border: 1px solid green;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .btn {
      width: 100%;
      background-color: #0a0505;

      &:hover {
        background-color: #acd9ac;
        color: #000000;
      }
    }

    .back-home {
    }

    span {
      text-decoration: underline;
      cursor: pointer;
      color: #846b6b;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      font-size: 12px;
    }

    .password-group {
      position: relative;

      .icons-eye {
        font-size: x-large;
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 0%;
        z-index: 3;
      }
    }
  }
}
